ADMIN_1_EMAIL=admin1@example.com
ADMIN_1_PASSWORD=changeme1
ADMIN_1_NAME="Admin 1"

ADMIN_2_EMAIL=admin2@example.com
ADMIN_2_PASSWORD=changeme2
ADMIN_2_NAME="Admin 2"

ADMIN_3_EMAIL=admin3@example.com
ADMIN_3_PASSWORD=changeme3
ADMIN_3_NAME="Admin 3"

ADMIN_4_EMAIL=admin4@example.com
ADMIN_4_PASSWORD=changeme4
ADMIN_4_NAME="Admin 4"
